* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
form {
  background-color: aqua;
  width: fit-content;
  margin: 30px auto;
  padding: 30px;
}
label {
  display: inline-block;
  width: 100px;
}
.lang-div {
  display: inline-block;
}
.gender-div {
  display: inline-block;
}
.gender-div label {
  width: auto;
  margin-right: 20px;
}
.lang-div label {
  width: auto;
  margin-right: 10px;
}

.inputs {
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.da1 {
  margin-bottom: 20px;
}
.button {
  text-align: center;
  padding: 0px;
}
.button input {
  width: 100px;
  border: none;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 10px;
}
.button input:hover {
  background-color: brown;
  color: cornflowerblue;
  cursor: pointer;
  font-weight: 700;
  padding: 10px;
}
.divtext * {
  vertical-align: middle;
}
