.tr0 {
  background-color: brown;
  width: 100%;
}
.tr1 {
  background-color: rgb(120, 116, 121);
}
.tr1:hover {
  background-color: aqua;
}
.tr2 {
  background-color: darkcyan;
}
.tr2:hover {
  background-color: rgb(49, 224, 166);
}
.div1 {
  text-align: right;
}
.a1 {
  display: inline-block;
  background-color: darkgray;
  text-decoration: none;
  padding: 5px;
  margin: 10px 25px;
  color: brown;
}
.a1:hover {
  color: rgb(255, 149, 0);
  background-color: rgb(23, 226, 97);
}
